# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
dist/Actualizador.jar
dist/launch.html
dist/launch.jnlp

nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear