/build
/dist
dist
dist/
dist/
\dist
!bower_components/**/dist/
/target/
/nbproject/
gitignore.io help:
  list    - lists the operating systems, programming languages and IDE input types
  :types: - creates .gitignore files for types of operating systems, programming languages or IDEs
