#--------OAuth2.0 Client Configuration---------
scope=
grant_type=password
grant_type_password = "password";
client_id=5
client_secret=2KgXxmMpWaAqTr9VD5HcGDEd607E8WT3qHrFmxoV
access_token=
authentication_server_url=http://inventario.ecuatask.localhost/oauth/token
resource_server_url=http://inventario.ecuatask.localhost/api/custodiosCedula
#------------------------------------------------






















